MINIO_OPTS=""
MINIO_VOLUMES="{% for h in groups[service_name]|reverse %}{% for dir in data_dirs %}http://{{hostvars[h].ansible_host}}{{dir}} {% endfor %}{% endfor %}"
MINIO_ACCESS_KEY="{{MINIO_ACCESS_KEY}}"
MINIO_SECRET_KEY="{{MINIO_SECRET_KEY}}"
MINIO_HTTP_TRACE="{{log_dir}}/{{service_name}}.log"
