# Ansible managed

[Unit]
Description=minio
Documentation=https://docs.min.io
Wants=network-online.target
After=network-online.target
AssertFileIsExecutable={{app_dir}}/{{package_name}}

[Service]
WorkingDirectory={{app_dir}}
Type=simple
User={{user_name}}
Group={{user_group}}
EnvironmentFile={{envs_var_file.path}}/{{envs_var_file.name}}
ExecStartPre=/bin/bash -c "if [ -z \"${MINIO_VOLUMES}\" ]; then echo \"Variable MINIO_VOLUMES not set in /etc/default/minio\"; exit 1; fi"
ExecStart={{app_dir}}/{{package_name}} server $MINIO_OPTS $MINIO_VOLUMES
Restart={{Restart}}
#StandardOutput={{StandardOutput}}
#StandardError={{StandardError}}
LimitNOFILE={{LimitNOFILE}}
TimeoutStopSec={{TimeoutStopSec}}
SendSIGKILL={{SendSIGKILL}}
# {{KillSignal}} signal is used to stop minio
#KillSignal={{KillSignal}}
SuccessExitStatus={{SuccessExitStatus}}

[Install]
WantedBy=multi-user.target
